body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(109, 196, 161);
  }

#tabel-siti{
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

#tabel-siti h3 {
    font-size: 32px;
    margin: auto;
}

.satu{
    background: rgb(166, 166, 225);
}

#tabel-siti td{
    padding: 20px;
}

.dua{
    background: wheat;
}